@model IEnumerable<SkuNews.Data.Page>

@{
    ViewBag.Title = "مدیریت اخبار";
}

<h2>خبر ها</h2>

<p>
    @Html.ActionLink("افزودن خبر جدید", "Create")
</p>
<table class="table">
    <tr>
        <th>
            عنوان
        </th>
        <th>
            توضیحات
        </th>
        <th>
            بازدید
        </th>
        <th>
            اسلایدر
        </th>
        <th>
            تاریخ ایجاد
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.visit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowInSlider)
            </td>
            <td>    
                @item.CreateDate.ToShamsi()
            </td>
            <td>
                @Html.ActionLink("ویرایش", "Edit", new { id = item.PageID }) |
                @Html.ActionLink("حذف", "Delete", new { id = item.PageID })
            </td>
        </tr>
    }

</table>
